{% extends 'base.html.twig' %}

{% block title %}Nieuws{% endblock %}

{% block body %}
    <div class="show-blog">
    <h1>Nieuws index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Samenvatting</th>
                <th>Afbeelding</th>
                <th>Auteur</th>
                <th>Datum</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for nieuw in nieuws %}
            <tr>
                <td>{{ nieuw.titel }}</td>
                <td>{{ nieuw.samenvatting }}</td>
                <td><img class="image" src="{{ vich_uploader_asset(nieuw, 'imageFile') }}"  alt="imageName"/></td>
                <td>{{ nieuw.auteur }}</td>
                <td>{{ nieuw.datum ? nieuw.datum|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('nieuws_show', {'id': nieuw.id}) }}">Meer lezen</a>
                    <br><br>
                    {% if app.user %}
                        <a href="{{ path('nieuws_edit', {'id': nieuw.id}) }}">Bewerken</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}

    <a class="btn btn-primary" href="{{ path('nieuws_new') }}">Create new</a>
{% endif %}
    </div>
{% endblock %}
