{% extends 'base.html.twig' %}

{% block title %}Nieuws{% endblock %}

{% block body %}
    <h1 class="show-blog">{{ nieuw.titel }}</h1>

    <div class="show-blog">
    <table class="table">
        <tbody>
            <tr>
                <th>Samenvatting</th>
                <td>{{ nieuw.samenvatting }}</td>
            </tr>
            <tr>
                <th>Tekst</th>
                <td>{{ nieuw.tekst | raw}}</td>
            </tr>
            <tr>
                <th>Afbeelding</th>
                <td><img class="image" src="{{ vich_uploader_asset(nieuw, 'imageFile') }}"  alt="imageFile"/></td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ nieuw.auteur }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ nieuw.datum ? nieuw.datum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('nieuws_index') }}"> Terug</a>

    {% if app.user %}

        <a class="btn btn-warning" href="{{ path('nieuws_edit', {'id': nieuw.id}) }}">Bewerken</a>

<br><br>
    {{ include ('nieuws/_delete_form.html.twig') }}
    {% endif %}

    </div>

{% endblock %}


